.createCarInput{
  display: inline-block;
  width: 400px;
  height: 30px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  background-color: white;
  margin-top: 30px;
}

.createCarModelInput {
  display: inline-block;
  width: 150px;
  height: 30px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  background-color: white;
  margin: 10px;
  margin-top: 30px;
}

.leaseCalendar {
  position: relative;
  height: 0px;
  width: 590px;
  align-self: center;
  opacity: 1;
  z-index: 10;
}

.leaseModelPickerContainer {
  position: relative;
  height: 0px;

}
