

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.signInButton{
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 30px;
  height: 50px;
  width: 120px;
  background-color: white;
  border-width: 4px;
  border-color: #9ec4e5;
  border-style: solid;
}

.anderMainContainer{
  display: flex;
  flex-direction: column;
}

.textBigBold{
  font-size: 25px;
  font-weight: bold;
}

.textBig{
  font-size: 25px;
}

.textSmall{
  font-size: 14px;
}

.emailWrapper{
  align-items: baseline;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.emailInput{
  display: inline-block;
  width: 250px;
  height: 45px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
}

.emailSubmitButton{
  cursor: pointer;
  width: 85px;
  height: 49px;
  background-color: #9ec4e5;
  border-width: 0px;
}

.emailSubmitButtonText{
  color: white;
  font-size: 17px;
}

.backgroundBox{
  background-color: #f2f2f2;
  margin: 30px;
}
.innerBox{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reasonsContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.reasonsContainerVertical{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.reasonsComponent{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

.learnMoreButton{
  outline:none;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #FFFFFF;
  transition: all 0.5s;
  background-color: #1c5176;
  border-style: none;
  text-decoration: none;
}

.learnMoreButton text{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.learnMoreButton text:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.learnMoreButton:hover text {
  padding-right: 15px;
}

.learnMoreButton:hover text:after {
  opacity: 1;
  right: 0;
}

.reasonsImage{
  height: 100px;
  width: 100px;
}

.learnMoreText{
  color: white;
  font-size: 13px;
}

.dividerLine{
  width: 5px;
  background-color: #1f5077;
}

.dividerLineHorizontle{
  height: 5px;
  background-color: #2f78b2;
  width: 200px;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexVertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.numbers{
  height: 40px;
  width: 40px;
  margin-top: 30px;
  margin-right: 20px;
}
